* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: white;
  color: #222222;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #24272e;
}

/* .grid-box {
  color: white;
  margin: 100px auto;
  border: 1px solid white;
  width: 60%;
} */

#grid-number {
  margin: 20px auto;
  font-size: 12px;
  padding: 5px 0;
}

.input {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

p {
  color: white;
  padding-top: 20px;
  font-family: sans-serif;
}

.btns {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.btn-clear,
.btn-random {
  font-size: 1em;
  padding: 4px;
  margin: 0 10px;
  border-radius: 4px;
}

.create-grid {
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
}

.wrapper {
  width: 100%;
  text-align: center;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr auto;
}

#colorPicker {
  margin: 20px;
}
